body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", serif;
}

.dark-mode-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999;
}